[user]
  useConfigOnly = true
[gpg]
  program     = gpg
[core]
  safecrlf    = warn
  whitespace  = space-before-tab, cr-at-eol, trailing-space
  untrackedCache = true # performance
  editor      = nvim
  pager       = delta
[apply]
  whitespace  = error-all # detect whitespace errors when applying a patch
[init]
  defaultBranch = main
[clone]
  filterSubmodules = true
[status]
  showStash   = true
  ; submodulesummary = true # do not use, very slow
[branch]
  sort        = -committerdate # show most recently changed branches first
[commit]
  gpgSign     = true
  verbose     = true
  template    = ~/.config/git/.gitmessage
[checkout]
  workers     = -1 # when < 1, use max number of workers
[tag]
  gpgSign     = true
[fetch]
  prune       = true
[rebase]
  autoSquash  = true
  updateRefs  = true
[push]
  default     = simple
  autoSetupRemote = true
  gpgSign     = if-asked
  recurseSubmodules = check
[interactive]
  diffFilter  = delta --color-only
[delta]
  navigate    = true # use n and N to move between diff sections
  dark        = true # terminal is dark background
  side-by-side = true
  line-numbers = true
[diff]
  renames     = copy
  tool        = nvimdiff
  colorMoved  = default # delta
[difftool]
  # TODO: instead of disable prompt, show remaining diffs in different tabs
  prompt      = false
[difftool "nvimdiff"]
  # $LOCAL: the temporary file containing the contents of the diff pre-image
  # $REMOTE: the temporary file containing the contents of the diff post-image.
  # e.g., git difftool pre-image-commit-hash..post-image-commit-hash
  cmd         = "nvim -d \"$LOCAL\" \"$REMOTE\" -c 'wincmd l | norm ]c'"
[merge]
  # delta [merge (default), diff3 (include $BASE text), zdiff3 (git>=2.35)]
  conflictstyle = diff3
  tool          = nvimdiff
  # nvimdiff  layout="(LOCAL,BASE,REMOTE)/MERGED" # default layout
  # nvimdiff1 layout="@LOCAL,REMOTE"
  # nvimdiff2 layout="LOCAL,MERGED,REMOTE"
  # nvimdiff3 layout="MERGED"
[mergetool]
  prompt      = true
  # prevent generating .orig files
  keepBackup  = false
# @link: https://github.com/git/git/blob/master/mergetools/vimdiff
[mergetool "nvimdiff"]
  # nvimdiff: layout="(LOCAL,BASE,REMOTE)/MERGED"
  cmd         = "nvim -d \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\" \
    -c 'wincmd 3l|wincmd J|norm ]c'"

  # custom nvimdiff: layout="LOCAL,REMOTE/MERGED"
  ; cmd         = "nvim -d \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\" \
  ;   -c 'wincmd l|hide|wincmd 2l|wincmd J|norm ]c'"

  # nvimdiff1: layout="@LOCAL,REMOTE"
  ; cmd         = "nvim -d \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\" \
  ;   -c 'wincmd 3l|diffoff|hide | wincmd h|diffoff|hide | norm ]c' \
  ;   -c \"lua \
  ;     local api=vim.api \
  ;     local group_id=api.nvim_create_augroup('nvimdiff', {clear=true}) \
  ;     local LOCAL, MERGED = 1, 4 \
  ;     api.nvim_create_autocmd('BufWritePost', { \
  ;       pattern = api.nvim_buf_get_name(LOCAL), \
  ;       group = group_id, \
  ;       callback = function() \
  ;         local lines = api.nvim_buf_get_lines(LOCAL, 0, -1, true) \
  ;         api.nvim_buf_set_lines(MERGED, 0, -1, true, lines) \
  ;         api.nvim_win_set_buf(0, MERGED) \
  ;         vim.cmd('update') \
  ;         api.nvim_win_set_buf(0, LOCAL) \
  ;       end \
  ;     }) \
  ;   \""

  # custom nvimdiff1: layout="REMOTE,@LOCAL"
  ; cmd         = "nvim -d \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\" \
  ;   -c 'wincmd 3l|diffoff|hide | wincmd h|diffoff|hide | wincmd L|norm ]c' \
  ;   -c \"lua \
  ;     local api=vim.api \
  ;     local group_id=api.nvim_create_augroup('nvimdiff', {clear=true}) \
  ;     local LOCAL, MERGED = 1, 4 \
  ;     api.nvim_create_autocmd('BufWritePost', { \
  ;       pattern = api.nvim_buf_get_name(LOCAL), \
  ;       group = group_id, \
  ;       callback = function() \
  ;         local lines = api.nvim_buf_get_lines(LOCAL, 0, -1, true) \
  ;         api.nvim_buf_set_lines(MERGED, 0, -1, true, lines) \
  ;         api.nvim_win_set_buf(0, MERGED) \
  ;         vim.cmd('update') \
  ;         api.nvim_win_set_buf(0, LOCAL) \
  ;       end \
  ;     }) \
  ;   \""

  # nvimdiff2: layout="LOCAL,MERGED,REMOTE"
  ; cmd         = "nvim -d \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\" \
  ;   -c 'wincmd l|hide|wincmd l|wincmd L|wincmd h|norm ]c'"

  # nvimdiff3: layout="MERGED"
  ; cmd         = "nvim -d \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\" \
  ;   -c \"hide|hide|hide|silent execute 'bufdo diffthis'|norm ]c\""
[alias]
  ##### BASIC #####
  alias       = "!git config --list | grep alias | cut -c 7-"
  a           = "!f() { \
    if [ -n \"$*\" ]; then \
      git add \"$@\"; \
    else \
      files=$(git ls-files -m \
        | fzf --multi --preview='git diff --color=always -- {}'); \
      if [ -n \"$files\" ]; then \
        echo \"$files\" | xargs -d '\\n' git add; \
        printf \"%s\\n\" \"$files\"; \
      fi; \
    fi; \
  }; f"
  aa          = add --all
  ai          = add --interactive
  ap          = add --patch
  au          = add --update
  c           = commit
  cm          = commit -m
  # IMMEDIATELY update (files/commit message) on the LAST commit
  cam         = commit --amend
  amend       = commit --amend
  camm        = commit --amend -m
  can         = commit --amend --no-edit
  ci          = commit --interactive
  cp          = commit --patch
  # creates a placeholder commit, finalize later (rebase --autoSquash)
  cf          = "!f() { \
    modes=\"--fixup=\t(Fixup: Merge code only)\n\
--fixup=amend:\t(Amend: Merge code + Change message)\n\
--fixup=reword:\t(Reword: Change message only)\"; \
    if [ $# -eq 0 ]; then \
      mode=$(printf \"%s\" \"$modes\" | column -t -s '\t' | \
        fzf --accept-nth='1'); \
      [ -z \"$mode\" ] && return 1; \
      target=$(git log --oneline -n 50 --color=always \
        --pretty=format:'%C(green)%h %C(blue)%cd %C(reset)%s%C(auto)%d' \
        --date=format:'%Y-%m-%d %H:%M %z' | fzf --accept-nth='1' \
        --ansi --no-sort --header=\"git $mode<commit>\"); \
      [ -z \"$target\" ] && return 1; \
      git commit $mode\"$target\"; \
    else \
      target=$1; \
      mode=$(printf \"%s\" \"$modes\" | sed \"s/\t/$target\t/\" | \
        column -t -s '\t' | fzf --accept-nth='1'); \
      [ -z \"$mode\" ] && return 1; \
      git commit $mode\"$target\"; \
    fi; \
  }; f"
  b           = branch
  ba          = branch -avv
  bl          = branch --list -vv
  bm          = branch --merged
  bnm         = branch --no-merged
  co          = "!f() { \
    if [ -n \"$*\" ]; then \
      git checkout \"$@\"; \
    else \
    branch=$(git branch --list --sort=-committerdate \
      --format='%(refname:short)' | fzf --no-multi \
      --preview 'git log --oneline --graph --color=always -n 5 {}'); \
      if [ -n \"$branch\" ]; then \
        git checkout \"$branch\"; \
      fi; \
    fi; \
  }; f"
  cob         = checkout -b
  coo         = switch -
  copr = "!f() { \
    if [ $# -eq 1 ] && command -v gh >/dev/null 2>&1; then \
      gh pr checkout \"$1\"; \
    elif [ $# -eq 2 ]; then \
      git fetch \"$1\" \"pull/$2/head:pr-$2\" && git checkout \"pr-$2\"; \
    elif command -v gh >/dev/null 2>&1; then \
      remote=$(git remote -v | awk '{print $1,$2}' | sort -u | column -t | \
        fzf --accept-nth='2'); \
      if [ -z \"$remote\" ]; then return; fi; \
      pr_num=$(gh pr list --limit 100 -R \"$remote\" | fzf --accept-nth='1' \
        --preview 'gh pr view {1}'); \
      if [ -z \"$pr_num\" ]; then return; fi; \
      git fetch \"$remote\" \"pull/$pr_num/head:pr-$pr_num\" \
        && git checkout \"pr-$pr_num\"; \
    else \
      echo 'Usage: git copr <remote> <pr#> OR install \"gh\" with fzf.' >&2; \
      return 1; \
    fi; \
  }; f"
  d           = diff
  dc          = diff --cached
  df          = "!f() { \
    if [ \"$#\" -ne 0 ]; then \
      local file=\"$1\"; \
    else \
      local file=$(git ls-files | fzf); \
    fi; \
    if [ -n \"$file\" ]; then \
      local commit=$(git log --follow --format='%C(green)%h %C(blue)%cd \
        %C(reset)%s%C(auto)%d' --date=format:'%Y-%m-%d %H:%M %z' -- \"$file\" \
        | fzf --ansi --no-sort --header \"Diff: $file\" \
        --preview \"git show {1} -- '$file' | delta\" \
        --accept-nth='1'); \
      if [ -n \"$commit\" ]; then \
        git show $commit -- \"$file\" | delta; \
      fi; \
    fi; \
  }; f"
  dn          = "!git --no-pager diff"
  dt          = difftool
  dump        = cat-file -p
  f           = fetch
  ftag        = "!git for-each-ref --sort=-creatordate \
    --format '%(creatordate:iso8601) %(refname:short)' refs/tags | \
      fzf --accept-nth='-1'"
  ls          = ls-files
  m           = merge
  mt          = mergetool
  open        = "!f() { \
    if [ -n \"$*\" ]; then \
      gh browse \"$@\"; \
    else \
      url=$(git remote -v | awk '{print $1, $2}' | sort -u | column -t | \
      fzf --no-multi --accept-nth='2'); \
      if [ -n \"$url\" ]; then \
        gh browse -R \"$url\"; \
      fi; \
    fi; \
  }; f"
  pl          = pull
  plr         = pull --rebase
  ps          = push
  psf         = push --force-with-lease
  r           = rebase
  ri          = rebase -i HEAD~10
  rc          = rebase --continue
  rl          = reflog
  s           = status --short --branch --show-stash
  st          = status
  sc          = sparse-checkout
  sca         = sparse-checkout add
  scs         = sparse-checkout set
  scl         = sparse-checkout list
  stpu        = stash push --include-untracked
  stpo        = stash pop
  stl         = stash list
  sts         = stash show --include-untracked
  std         = stash show --include-untracked -p
  sub         = submodule
  subu        = submodule update
  subur       = submodule update --recursive
  wt          = worktree
  wta         = worktree add
  wtl         = worktree list
  wtr         = worktree remove

  ##### LOG #####
  # single line
  l           = "log --decorate --all --date=format:'%a %Y-%m-%d %H:%M %z' \
    --pretty=format:'%C(green)%h %C(reset)%<(10,trunc)%an %C(blue)%cd \
%C(reset)%s%C(auto)%d'"
  # graph, relative time
  lg          = "log --decorate --all --graph \
    --pretty=format:'%C(green)%h %C(reset)%<(10,trunc)%an %C(blue)%cr \
%C(reset)%s%C(auto)%d'"
  # with file status (Add,Modified,Deleted)
  lf          = "log --decorate --all --date=format:'%a %Y-%m-%d %H:%M %z' \
    --pretty=format:'%C(green)%h %C(reset)%<(10,trunc)%an %C(blue)%cd \
%C(reset)%s%C(auto)%d' --name-status"
  # detailed with graph & gpg & file change size
  ll          = log --stat --abbrev-commit --show-signature --graph --decorate
  # g fgrep "words": grep words diffs
  fgrep       = "!f() { git log --pretty=format:\"%h %cd %<(6,trunc)[%cn] \
    %s%d\" --date=relative -S'pretty' -S\"$@\" | fzf | awk '{print $1}' | \
    xargs -I {} git diff {}^ {}; }; f"
  # log for each committer
  sl          = shortlog
  log-changed = whatchanged --graph --decorate --all
  log-removed = log --diff-filter=D --summary --decorate --name-status
  log-renamed = log --diff-filter=R --summary --decorate --name-status
  log-copied  = log --diff-filter=C --summary --decorate --name-status

  ##### FILTER/LIST FILES #####
  # list files changed: git chsince <old-commit>..<new-commit>
  chsince     = show --pretty= --name-only
  # show files changed in HEAD
  ch          = show --pretty= --name-only HEAD
  changed     = show --pretty= --name-only HEAD
  # list tracked
  # 1. current state: git indexed
  # 2. specific commit: git indexed HEAD
  in          = "!f() { if [ -z \"$1\" ]; then git ls-files --stage | \
    cut -f 2-; else git ls-tree --full-tree --name-only -r \"$1\"; fi; }; f"
  indexed     = "!f() { if [ -z \"$1\" ]; then git ls-files --stage | \
    cut -f 2-; else git ls-tree --full-tree --name-only -r \"$1\"; fi; }; f"
  # list ignored
  ig          = ls-files -o -i --exclude-standard
  ignored     = ls-files -o -i --exclude-standard
  # list unmerged
  unm         = ls-files -u
  unmerged    = ls-files -u

  ##### RESTORE ACTIONS #####
  # uncommit previous git commit, files are still there, only HEAD and index is
  # changed you have to stage them again in order to make a new commit
  uncommit    = reset HEAD~1 --soft
  # unstage specific file or all: git unstage <file>|.
  unstage     = restore --staged

  # This commits everything in my working directory and then does a hard reset
  # to remove that commit
  #
  # The nice thing is, the commit is still there, but it's just unreachable.
  # Unreachable commits are a bit inconvenient to restore, but at least they
  # are still there. You can run the git reflog command and find the SHA of the
  # commit if you realize later that you made a mistake with the reset. The
  # commit message will be "WIPE SAVEPOINT" in this case.
  WIPE        = "!git add -A && git commit -qm 'WIPE SAVEPOINT' && \
    git reset HEAD~1 --hard"
  show-wipe   = "!git reflog | grep 'WIPE SAVEPOINT'"
[filter "lfs"]
  clean       = git-lfs clean -- %f
  smudge      = git-lfs smudge -- %f
  process     = git-lfs filter-process
  required    = true
[lfs]
  pruneverifyremotealways = true
# [user] name, email, signingKey
# [core] sshCommand
[include]
  path        = ~/.config/git/default/.gitconfig
[includeIf "gitdir:~/dev/"]
  path        = ~/.config/git/dev/.gitconfig
[includeIf "gitdir:~/work/"]
  path        = ~/.config/git/work/.gitconfig
[includeIf "gitdir/i:C:/Users/"]
  path        = ~/.config/git/windows/.gitconfig
[url "git@github.com:"]
  insteadOf   = gh:
